# Android Studio
.idea/
*.iml
.gradle/
local.properties

# Evitar conflictos específicos de configuración de Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml   # ← Agrégalo si causó conflicto

# macOS
.DS_Store

# Build
/build/
app/build/
captures/
.cxx/
.externalNativeBuild/